/* reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
/* html */
html {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
}

#main-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

h1 {
  box-shadow: inset 0 0 0 0 #000000;
  color: black;
  opacity: 0.7;
  transition: color 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
}

h1:hover {
  box-shadow: inset 400px 0 0 0 #191919;
  color: white;
}
h2,
h3,
p {
  color: #fff;
}
h2,
h3 {
  margin-top: 5px;
  margin-left: 10px;
}
.description {
  margin-left: 10px;
  line-height: 22px;
}
/* cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  background-color: #98a2a8;
 
  align-items: center;
  padding: 0 3px;
}

.highlight {
  color: yellowgreen;
}

#social-media a {
  color: black;
  text-decoration: none;
}
#social-media i {
  color: black;
  transition: 0.5s;
}
#social-media i:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  color: white;
}
#social-media i {
  font-size: 30px;
  letter-spacing: 10px;
}

/* aside */
#aside-content {
  flex: 1 1 30%;
  text-align: center;
  background-color: #98a2a8;
  padding: 10px;
  height: 900px;
}

#aside-content img {
  margin-top: 10px;
  border-radius: 100px;
}

#aside-content p {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#aside-content a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 15px;
}

#aside-content i {
  margin-right: 10px;
}

#aside-content #English {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
  transition: 0.5s ease;
}
#aside-content #English:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}
#aside-content #portugues {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
  transition: 0.5s ease;
}
#aside-content #portugues:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

/* lista skills */

ul li {
  margin-bottom: 5px;
}
#Skills #c {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 45%,
    rgba(2, 0, 36, 1) 45%
  );
  text-align: start;
  animation: colors 15s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
#Skills #sql {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 40%,
    rgba(2, 0, 36, 1) 40%
  );
  text-align: start;
}
#Skills #html {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 70%,
    rgba(2, 0, 36, 1) 70%
  );
  text-align: start;
}
#Skills #css {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 60%,
    rgba(2, 0, 36, 1) 60%
  );
  text-align: start;
}
#Skills #js {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 45%,
    rgba(2, 0, 36, 1) 45%
  );
  text-align: start;
}
#Skills #python {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 30%,
    rgba(2, 0, 36, 1) 30%
  );
  text-align: start;
}
#Skills #windows {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  text-align: start;
}
#Skills #mac {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 95%,
    rgba(2, 0, 36, 1) 95%
  );
  text-align: start;
  margin-bottom: 10px;
}

/* cabeçalho */

#email {
  color: white;
  transition: 0.5s;
}

#email:hover {
  color: cornflowerblue;
  text-decoration: underline;
}

/* conteudo principal */
.projects-gallery {
  column-count: 3;
  column-gap: 0;
}

.projects-gallery img {
  margin: 0 0 2px 8px;
  width: 100%;
  aspect-ratio: 1/1;
  transition: scale 350ms ease, opacity 350ms linear;
}
.projects-gallery:has(img:hover) img:not(:hover) {
  scale: 0.9;
  opacity: 0.7;
}

@media screen and (max-width:480px){

  #main-container{
    display: block;
  }

  #aside-content{
    height: 50%;
  }

  header{
    display: block;
   
  }


}